<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Comentarios</title>
</head>
<body>
   <h1>Comentarios</h1>
   <a href="{% url 'formulario' %}">Nuevo comentario</a>
   <br>
   <ul>
      {% for comentario in comentarios %}
      <li>
         <a href="{% url 'comentario_edit' comentario.pk %}">{{ comentario.nombre }}</a>
         <br>
      </li>
      {% empty %}
      <li> No hay comentarios </li>
      {% endfor %}
   </ul>
</body>
</html>